*{
	padding: 0px;
	margin: 0px;
}
body{
	background: #2F4F4F;

}
.hading{
	font-size: 60px;
	color: gray;
}
.form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.inputarea{
	height: 25px;
	width: 220px;
	font-size: 20px;
	font-family: Arial;
	color: #fff;
	border: 2px solid yellow;
	background: violet;
}
.clearbutton{
	width: 220px;
	height: 25px;

}
.clearbutton:hover{
	background-color: #D8BFD8;
	color: black;
	border: 2px solid; green;
}
.numbers{
	padding: 10px 20px;
	/*margin: 25px;*/
	margin: 2px 1px;
}
.numbers:hover{
	border: 1px solid #D2B48C;
	color: lightgreen;
	background: purple;
}